<nav>
     <ul>
         <li>
             <a href="{% url 'Python:all' %}" class="dropbtn">What is Python?</a>
         </li>
         <li>
             <a href="{% url 'Python:use' %}" class="dropbtn">Use Of Python?</a>
         </li>
         <li>
             <a href="{% url 'Python:do' %}" class="dropbtn">What Python can do?</a>
         </li>
         <li>
             <a href="{% url 'Python:why' %}" class="dropbtn">Why Python?</a>
         </li>
         <li>
             <a href="{% url 'Python:var' %}" class="dropbtn">Python Variables</a>
         </li>
         <li>
             <a href="{% url 'Python:dt' %}" class="dropbtn">Python Data Types</a>
         </li>
         <li>
             <a href="{% url 'Python:conversions' %}" class="dropbtn">Conversion between data types</a>
         </li>
         <li>
             <a href="{% url 'Python:cst' %}" class="dropbtn">Conditional statements</a>
         </li>
         <li>
             <a href="{% url 'Python:h1' %}" class="dropbtn">Hello World</a>
         </li>
         <li>
             <a href="{% url 'Python:sum' %}" class="dropbtn">Sum Of Numbers</a>
         </li>
         <li>
             <a href="{% url 'Python:even' %}" class="dropbtn">Even Numbers</a>
         </li>
     </ul>
</nav>
