<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>School with PythonPrograming</title>
    <link rel="shortcut icon" href="{% static 'images/favi.png'%}" type="image/png">
    <link rel="stylesheet" href="{% static 'CSS/main.css'%}">
    {% include 'head.html' %}
</head>
<body>
    <div class="fixed-header">
        <marquee direction="right" onmouseover="this.stop();" onmouseout="this.start();"> <a href="{% url 'Python:all' %}"> <img src="{% static 'images/logo2.png'%}" alt="logo" style="position: center top"> </a></marquee>
    </div>
<article class="div1">
    <div class="header">
    <a class="fa fa-home" href="{% url 'Python:all' %}"></a>
</div>
    {% block  content %}

    {% endblock %}
</article>

</body>
<script type="text/javascript" src="{% static 'JS/main.js' %}"></script>
</html>