{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">What is Python?</header>
<p class="p1">
    Python is a full-fledged all-round language. It's an interpreted, interactive, object-oriented, extensible
    programming language. It is extremely attractive in the field of Rapid Application Development because it offers
    dynamic typing and dynamic binding options.</p>
    <p class="p1">Python's simple, so it's easy to learn since it requires a unique syntax that focuses on readability.
        It provides constructs that enable clear programming on both small and large scales. Developers can read and
        translate Python code much easier than other languages. In turn, this reduces the cost of program maintenance and
        development because it allows teams to work collaboratively without significant language and experience barriers.</p>
<p class="p1">
    Python was conceived in the late 1980s, and its implementation began in December 1989 by Guido van Rossum at Centrum
    Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC language (itself inspired by SETL)
    capable of exception handling and interfacing with the Amoeba operating system.
</p>

{% endblock %}
