{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">What is Python?</header>
<p class="p1">
    Python is an interpreted, object-oriented, high-level programming language. Its high-level built in data structures,
    combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development,
    as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy
    to learn syntax emphasizes readability and therefore reduces the cost of program maintenance.</p>
<p class="p1">
    First developed in the late 80s by Guido van Rossum, Python is currently in its third version, released in 2008,
    although the second version originally released in 2000 is still in common usage.
</p>

{% endblock %}
