{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Getting started with Python:</header>

<div class="wrapper">
    <div class="hidelogo"></div>
    <div class="hidelogo1"></div>
    <iframe height="400px" width="100%" src="https://repl.it/@gantasagar/Python-Variables?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
{% endblock %}
