{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Getting started with Python:</header>
<h3 style="color: green; font-size: 20px; font-family: 'Courier New';" id="section2">Install Python on Windows Steps:</h3>
<p class="p1"> Installing and running Python on your personal computer is no difficult task.
    It involves just a few simple steps:</p>
<ul class="li1">
    <li>1) First, download the latest version of Python 3 or Python 2  setup file from the official website <a href="https://www.python.org/downloads/windows/" target="_blank">python.org.</a></li>
    <li>2) Double-click on the file downloaded from official website.</li>
    <li>3) Add Python to system environment variables</li>
    <li>4) Install pip</li>
    <li>5) [Optional] Install virtualenv using pip</li>
</ul>
<div class="wrapper">
    <div class="hidelogo"></div>
      <div class="hidelogo1"></div>
        <iframe height="400px" width="100%" src="https://repl.it/@gantasagar/Python-Variables?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
{% endblock %}
