{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">What is the use of Python?</header>
<ul class="li1">
    <li>
        Python used in  Web and Internet Development, it offers many choices for web development(server-side).
    </li>
    <li>Python is widely used in scientific and numeric computing.</li>
    <li>Python used in Education, it is a superb language for teaching programming, both at the introductory level
        and in more advanced courses,</li>
    <li>
        Python is often used in Software Development as a support language for software developers, for build control
        and management, testing, and in many other ways.
    </li>
    <li>
        Python is also used in Business Applications to build ERP and e-commerce systems.
    </li>
    <li>
        Python can connect to database systems. It can also read and modify files.
    </li>
    <li>
        Python can be used to handle big data and perform complex mathematics.
    </li>
</ul>

{% endblock %}
