{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">What is the use of Python?</header>
<ul class="li1">
    <li>
        Python used in  <i style="color: blue">Web Development</i>, it offers many choices for web development.
    </li>
    <li>It's widely used in <i style="color: blue">scientific and numeric computing</i>.</li>
    <li>It's used in <i style="color: blue">Education</i>, it is a superb language for teaching programming, both at the introductory level
        and in more advanced courses.</li>
    <li>
        It's often used in <i style="color: blue">Software Development</i> as a support language for software developers, for build control
        and management, testing, and in many other ways.
    </li>
    <li>
        It's also used in <i style="color: blue">Business Applications</i> to build ERP and e-commerce systems.
    </li>
    <li>
        It can used to <i style="color: blue">connect to database systems</i>. It can also read and modify files.
    </li>
    <li>
        It can be used <i style="color: blue">to handle big data and perform complex mathematics</i>.
    </li>
</ul>

{% endblock %}
