{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">What is Python?</header>
<p class="p1">
    Python is a full-fledged all-round language. It's an interpreted, object-oriented, extensible programming language.
    It is extremely attractive in the field of Rapid Application Development because it offers dynamic typing and dynamic binding options.</p>
    <p class="p1">Python's simple, so it's easy to learn since it requires a unique syntax that focuses on readability.
        Developers can read and translate Python code much easier than other languages.
        In turn, this reduces the cost of program maintenance and development because it allows teams to work
        collaboratively without significant language and experience barriers.</p>
<p class="p1">
    Python was conceived in the late 1980s, and its implementation began in December 1989 by <a href="https://en.wikipedia.org/wiki/Guido_van_Rossum" target="_blank">
    "Guido van Rossum"</a> at <a href="https://www.cwi.nl/" target="_blank"><i>Centrum Wiskunde & Informatica (CWI)</i></a>
    in the Netherlands as a successor to the <a href="https://en.wikipedia.org/wiki/ABC_(programming_language)" target="_blank">"ABC language"</a>.
</p>

{% endblock %}
