{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Why Python?</header>
<ul class="li1">
    <li>
        It <i style="color: blue">works on different platforms</i> (Windows, Mac, Linux, Raspberry Pi, etc).
    </li>
    <li>
        It is <i style="color: blue">Easy to Understand</i> because it has a simple syntax similar to the English language.
    </li>
    <li>
        It has <i style="color: blue">syntax that allows developers to write programs with fewer lines than some other programming languages</i>.
    </li>
    <li>
        It <i style="color: blue">runs on an interpreter system</i>, meaning that code can be executed as soon as it is written.
        This means that prototyping can be very quick.
    </li>
</ul>

{% endblock %}
