{% extends "base.html" %}
{% block content %}
<div class="header">
    <a class="fa fa-home" href="{% url 'python' %}"></a>
</div>
<div class="row">
    <div class="column side" style="background-color:#aaa;">
        <h4 style="color:MediumSeaGreen;">Python Hello World Examples</h4>
       <ul>
           <li><a href="{% url 'Python:h1' %}" class="w3-bar-item">Hello World</a></li>
         <li><a href="{% url 'Python:h1' %}" class="w3-bar-item">Hello World1</a></li>
         <li><a href="{% url 'Python:h1' %}" class="w3-bar-item">Hello World2</a></li>
         <li><a href="{% url 'Python:h1' %}" class="w3-bar-item">Hello World3</a></li>
     </ul>
  </div>
  <div class="column middle" style="background-color:#bbb;">
            {% block  content2 %}

            {% endblock %}
  </div>
    <div class="column side" style="background-color:#ccc;">Addsence</div>
</div>
{% endblock %}