{% extends "Python/datatypes.html" %}
{% block content3 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Bool:</header>
<P class="p1">The Boolean data type can be either True or False. Booleans are used to represent the truth values that
    are associated with the logic branch of mathematics, which informs algorithms in computer science. </P>
<p class="p1">The values True and False will also always be with a capital T and F respectively,
    as they are special values in Python.</p>
{% endblock %}