{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Conversion between data types</header>
<p class="p1">
We can convert between different data types by using different type conversion functions like int(), float(), str() etc.
</p>
<P class="p1">Conversion from float to int will truncate the value (make it closer to zero).</P>
<p class="p1">Conversion to and from string must contain compatible values.</p>
<p class="p1">We can even convert one sequence to another.</p>
<p class="p1">To convert to dictionary, each element must be a pair</p>
{% endblock %}
