{% extends "Python/datatypes.html" %}
{% block content3 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Dictionary:</header>
<P class="p1">Dictionary is an unordered collection of key-value pairs. It is generally used when we have a huge amount
    of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.Dictionary are
    Python’s built-in mapping type.In Python, dictionaries are defined within braces {} with each item being a pair
    in the form key:value. Key and value can be of any type.</P>
<p class="p1"> We use key to retrieve the respective value. But not the other way around.</p>
{% endblock %}