{% extends "Python/datatypes.html" %}
{% block content3 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python List:</header>
<P class="p1">List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible.
    All the items in a list do not need to be of the same type. Declaring a list is pretty straight forward.
    Items separated by commas are enclosed within brackets [ ].</P>
<p class="p1">We can use the slicing operator [ ] to extract an item or a range of items from a list.
    Index starts form 0 in Python.</p>
<p class="p1">Lists are mutable, meaning, value of elements of a list can be altered.</p>
{% endblock %}