{% extends "Python/datatypes.html" %}
{% block content3 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Numbers:</header>
<P class="p1">There are three numeric types in Python:</P>
<ul class="li1">
    <li>int</li>
    <li>float</li>
    <li>complex</li>
</ul>
<p class="p1">We can use the type() function to know which class a variable or a value belongs to and the isinstance()
    function to check if an object belongs to a particular class.</p>
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Int:</header>
<P class="p1">Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.</P>

<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Float:</header>
<P class="p1">Complex numbers are written with a "j" as the imaginary part.
Float can also be scientific numbers with an "e" to indicate the power of 10.</P>

<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Complex:</header>
<P class="p1">Complex numbers are written with a "j" as the imaginary part.</P>
{% endblock %}