{% extends "Python/datatypes.html" %}
{% block content3 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Tuples:</header>
<P class="p1">Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable.
    Tuples once created cannot be modified. Tuples are used to write-protect data and are usually faster than list
    as it cannot change dynamically.
    It is defined within parentheses () where items are separated by commas.
    We can use the slicing operator [] to extract items but we cannot change its value.</P>
{% endblock %}