{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Functions:</header>
<p class="p1">A function is a block of instructions that performs a specific task and,once defined, can be reused.
    Functions help break our program into small parts when our program grows larger and larger.it avoids repetition
    and makes code reusable.</p>
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Types of Functions:</header>
<p class="p1">In Python we have two types of functions</p>
<ul class="li1">
    <li>Built-in functions:Functions that are built into Python. </li>
    <li> User-defined functions: Functions defined by the users themselves. </li>
</ul>
<p class="p1">Python has a number of built-in functions:</p>
<ul class="li1">
    <li>print() which will print an object to the terminal.</li>
    <li>int()which will convert a string or number data type to an integer data type.</li>
    <li>len()which returns the length of an object.</li>
</ul>
 {% block  content3 %}

 {% endblock %}

{% endblock %}