{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Anonymous/Lambda Function</header>
<p class="p1">In Python, anonymous function is a function that is defined without a name.
While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.
anonymous functions are also called lambda functions.</p>
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Syntax of Lambda Function in python</header>
<pre>
    <code>
        lambda arguments: expression
    </code>
</pre>
<p class="p1">Lambda functions can have any number of arguments but only one expression. The expression is evaluated and
    returned. Lambda functions can be used wherever function objects are required.</p>
<p class="p1">Example on Lambda function:</p>
<div class="wrapper">
    <div class="hidelogo"></div>
    <div class="hidelogo1"></div>
    <iframe height="400px" width="100%" src="https://repl.it/@gantasagar/LambdaFunctionExample?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Use of Lambda Function in python</header>
<p class="p1">We use lambda functions when we require a nameless function for a short period of time.
Lambda functions are used along with built-in functions like filter(), map() etc.
</p>
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Example use with filter()</header>
<p class="p1">As the name suggests, filter creates a list of elements for which a function returns true.
Here is an example use of filter() function to filter out only even numbers from a list.</p>
<div class="wrapper">
    <div class="hidelogo"></div>
    <div class="hidelogo1"></div>ems in a list.</p>
<div class="wrapper">
    <iframe height="400px" width="100%" src="https://repl.it/@gantasagar/filter-Example-in-lambda-function?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Example use with map()</header>
<p class="p1">Map applies a function to all the items in an input_list.
    <p class="p1">Here is an example use of map() function to double all the it
    <div class="hidelogo"></div>
    <div class="hidelogo1"></div>
    <iframe height="400px" width="100%" src="https://repl.it/@gantasagar/Lambda-function-example-using-map?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
{% endblock %}