{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python OOPs</header>
<p class="p1">One of the popular approach to solve a programming problem is by creating objects.
This is known as Object-Oriented Programming (OOP).</p>
<p class="p1">This includes:</p>
<ul class="li1">
    <li><a href="{% url 'Python:obj' %}">Object</a></li>
    <li><a href="{% url 'Python:cls' %}">Class</a></li>
    <li><a href="{% url 'Python:Inh' %}">Inheritance</a></li>
    <li><a href="{% url 'Python:encap' %}">Encapsulation</a></li>
    <li><a href="{% url 'Python:poly' %}">Polymorphism</a></li>
</ul>
 {% block  content3 %}

 {% endblock %}

{% endblock %}