{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Loops</header>
<p class="p1">Loops can execute a block of code number of times until a certain condition is True. Their usage is fairly
    common in programming. Unlike other programming language that have For Loop, while loop, dowhile, etc. </p>
<p class="p1">List of Loops are:</p>
<ul class="li1">
    <li><a href="{% url 'Python:if' %}">Python For Loop</a></li>
    <li><a href="{% url 'Python:EF' %}">Python While Loop</a></li>
</ul>
 {% block  content3 %}

 {% endblock %}

{% endblock %}