{% extends "Python/Loops/loops.html" %}
{% block content3 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python while Loops</header>
<p class="p1">A while loop implements the repeated execution of code based on a given Boolean condition.
    The code that is in a while block will execute as long as the while statement evaluates to True. </p>
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Syntax of while Loop in Python</header>
<pre>
    <code>
        while expression:
            body of the while loop
    </code>
</pre>
<p class="p1">
    In while loop, expression is checked first. The body of the loop is entered only if the expression evaluates to True.
    After one iteration, the expression is checked again. This process continues until the expression evaluates to False.
</p>
<p class="p1">In Python, the body of the while loop is determined through indentation.</p>
<p class="p1">
    Example on while loop
</p>
<div class="wrapper">
    <div class="hidelogo"></div>
    <div class="hidelogo1"></div>
    <iframe height="400px" width="100%" src="https://repl.it/@gantasagar/while-loop-example?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">while loop with else</header>
<p class="p1">Same as that of for loop, we can have an optional else block with while loop as well.
    The else part is executed if the condition in the while loop evaluates to False.
    The while loop can be terminated with a break statement. In such case, the else part is ignored.
    Hence, a while loop's else part runs if no break occurs and the condition is false.</p>
   <p class="p1"> Here is an example</p>
<div class="wrapper">
    <div class="hidelogo"></div>
    <div class="hidelogo1"></div>
    <iframe height="400px" width="100%" src="https://repl.it/@gantasagar/while-loop-with-else-block?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</div>
{% endblock %}