{% extends "Python/Datatypes/datatypes.html" %}
{% block content3 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Strings:</header>
<P class="p1">String is sequence of Unicode characters. We can use single quotes('') or double quotes("") to represent strings.
    Multi-line strings can be denoted using triple quotes, ''' '''or """ """.</P>
<pre>
    <code>
        >> # Representing string in single quotes.
        >> ' This is a string in single quotes '
        >> # Representing string in double quotes.
        >> " This is a string in double quotes "
        >> # Representing a multi-line string in triple quotes
        >> """ This is a Multi-line string in triple quotes """
        >> ''' This is a Multi-line string in triple quotes '''
    </code>
</pre>
<p class="p1">storing strings in to a variables</p>
<pre>
    <code>
        >> s = 'Hello world'
        >> a = "Hello world"
        >> # printing string variables
        >> print(s)
        >> Hello world
    </code>
</pre>
{% endblock %}