{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Conditional statements</header>
<p class="p1">
    Python supports the usual logical conditions from mathematics:</p>
<ul class="li1">
    <li>Equals: a == b</li>
    <li>Not Equals: a != b</li>
    <li>Less than: a < b</li>
    <li>Less than or equal to: a <= b</li>
    <li>Greater than: a > b</li>
    <li>Greater than or equal to: a >= b</li>
</ul>
<p class="p1">List of Conditional statements are:</p>
<ul class="li1">
    <li><a href="{% url 'Python:bool' %}">Python If statement</a></li>
    <li><a href="{% url 'Python:list' %}">Python Elif Statement</a></li>
    <li><a href="{% url 'Python:tuple' %}">Python If..Elif Statement</a></li>
    <li><a href="{% url 'Python:numbers'%}" >Python Else statement</a></li>
    <li><a href="{% url 'Python:strings' %}">Python If..Else Statement</a></li>
    <li><a href="{% url 'Python:set' %}">Python If..Elif..Else Statement</a></li>
</ul>
 {% block  content3 %}

 {% endblock %}

{% endblock %}