{% extends "Python.html" %}
{% block content1 %}
<header style="color: Navy; font-family: 'Courier New';font-size: 22px;">Python Conditional statements</header>
<p class="p1">List of Conditional statements are:</p>
<ul class="li1">
    <li><a href="{% url 'Python:if' %}">Python If statement</a></li>
    <li><a href="{% url 'Python:EF' %}">Python Elif Statement</a></li>
    <li><a href="{% url 'Python:if_EF' %}">Python If..Elif Statement</a></li>
    <li><a href="{% url 'Python:el'%}" >Python Else statement</a></li>
    <li><a href="{% url 'Python:if_el' %}">Python If..Else Statement</a></li>
    <li><a href="{% url 'Python:if_EF_el' %}">Python If..Elif..Else Statement</a></li>
    <li><a href="{% url 'Python:NIf' %}">Python Nested If Statement</a></li>
</ul>
 {% block  content3 %}

 {% endblock %}

{% endblock %}